body {
  background: url(images/comingsoon.jpg) no-repeat center fixed black;
  background-size: cover;
  height: 25%;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

.sidebar {
  height: 10%;
  width: auto;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

.panel {
  max-width: 100%;
}

p {
  color: white;
}